<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= elementName %> basic tests</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../web-component-tester/browser.js"></script>
  <script src="../../test-fixture/test-fixture-mocha.js"></script>

  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../../test-fixture/test-fixture.html">
  <link rel="import" href="../../iron-test-helpers/iron-test-helpers.html">
  <link rel="import" href="../<%= elementName %>.html">

</head>
<body>
  <!-- create test fixture template -->
  <test-fixture id="simple-test">
    <template>
        <<%= elementName %>>
          <!-- light DOM -->
        </<%= elementName %>>
    </template>
  </test-fixture>
  
  <script src="<%= elementName %>.js">
</body>
</html>