<link rel="import" href="../polymer/polymer.html">

<!--
`<<%= elementName %>>` is a great component.

Example: 

  <<%= elementName %>></<%= elementName %>>

### Accessibility

### Styling

The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--test-variable` | variable for the element | `--fab-color`
`--test-mixin` | Mixin applied to the element | `{}`
`--test-container-mixin` | Mixin applied to the element local dom | `{}`

@group VS Elements
@element <%= elementName %>
@demo demo/index.html Demo snippets, demo page is rendered as iframe
-->

<dom-module id="<%= elementName %>">
  <template strip-whitespace>
    <style>
      /* CSS rules for your element */

      :host {
          /* Apply Customizable Mixin on element */
          @apply(--test-mixin);

          /* Apply Customizable variable on element */
          background: var(--test-variable, --fab-color);
      }

      .test-container {
          /* Apply Customizable Mixin on local DOM */
          @apply(--test-container-mixin);
      }
    </style>

    <!-- Add your template here: light DOM -->

    <content>
      <!-- Local Dom slot -->
    </content>

  </template>

  <script src="<%= elementName %>.js"></script>
</dom-module>
